.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
docs/shinylive-sw.js
docs/shinylive/browser-3WWAKIPX.js
docs/shinylive/browser-HM3PFPWB.js
docs/shinylive/chunk-A5N4LOGI.js
docs/shinylive/chunk-GMRHDNUM.js
docs/shinylive/Editor.css
docs/shinylive/Editor.js
docs/shinylive/load-shinylive-sw.js
docs/shinylive/lzstring-worker.js
docs/shinylive/pyodide-worker.js
docs/shinylive/run-python-blocks.js
docs/shinylive/shinylive.css
docs/shinylive/shinylive.js
docs/shinylive/SourceSansPro-Regular.otf-PVQ5ZP77.woff2
docs/shinylive/style-resets.css
docs/shinylive/webr/esbuild.d.ts
docs/shinylive/webr/library.data.gz
docs/shinylive/webr/library.js.metadata
docs/shinylive/webr/libRblas.so
docs/shinylive/webr/libRlapack.so
docs/shinylive/webr/packages/askpass/askpass_1.2.1.tgz
docs/shinylive/webr/packages/backports/backports_1.5.0.tgz
docs/shinylive/webr/packages/bit/bit_4.6.0.tgz
docs/shinylive/webr/packages/bit64/bit64_4.6.0-1.tgz
docs/shinylive/webr/packages/blob/blob_1.2.4.tgz
docs/shinylive/webr/packages/broom/broom_1.0.9.tgz
docs/shinylive/webr/packages/callr/callr_3.7.6.tgz
docs/shinylive/webr/packages/cellranger/cellranger_1.1.0.tgz
docs/shinylive/webr/packages/clipr/clipr_0.8.0.tgz
docs/shinylive/webr/packages/conflicted/conflicted_1.2.0.tgz
docs/shinylive/webr/packages/crayon/crayon_1.5.3.tgz
docs/shinylive/webr/packages/curl/curl_7.0.0.tgz
docs/shinylive/webr/packages/data.table/data.table_1.17.8.tgz
docs/shinylive/webr/packages/DBI/DBI_1.2.3.tgz
docs/shinylive/webr/packages/dbplyr/dbplyr_2.5.0.tgz
docs/shinylive/webr/packages/dplyr/dplyr_1.1.4.tgz
docs/shinylive/webr/packages/dtplyr/dtplyr_1.3.1.tgz
docs/shinylive/webr/packages/evaluate/evaluate_1.0.4.tgz
docs/shinylive/webr/packages/expm/expm_1.0-0.tgz
docs/shinylive/webr/packages/farver/farver_2.1.2.tgz
docs/shinylive/webr/packages/forcats/forcats_1.0.0.tgz
docs/shinylive/webr/packages/gargle/gargle_1.5.2.tgz
docs/shinylive/webr/packages/generics/generics_0.1.4.tgz
docs/shinylive/webr/packages/ggplot2/ggplot2_3.5.2.tgz
docs/shinylive/webr/packages/googledrive/googledrive_2.1.1.tgz
docs/shinylive/webr/packages/googlesheets4/googlesheets4_1.1.1.tgz
docs/shinylive/webr/packages/gtable/gtable_0.3.6.tgz
docs/shinylive/webr/packages/haven/haven_2.5.5.tgz
docs/shinylive/webr/packages/highr/highr_0.11.tgz
docs/shinylive/webr/packages/hms/hms_1.1.3.tgz
docs/shinylive/webr/packages/httr/httr_1.4.7.tgz
docs/shinylive/webr/packages/ids/ids_1.0.1.tgz
docs/shinylive/webr/packages/isoband/isoband_0.2.7.tgz
docs/shinylive/webr/packages/jose/jose_1.2.1.tgz
docs/shinylive/webr/packages/knitr/knitr_1.50.tgz
docs/shinylive/webr/packages/labeling/labeling_0.4.3.tgz
docs/shinylive/webr/packages/lattice/lattice_0.22-7.tgz
docs/shinylive/webr/packages/lubridate/lubridate_1.9.4.tgz
docs/shinylive/webr/packages/MASS/MASS_7.3-65.tgz
docs/shinylive/webr/packages/Matrix/Matrix_1.7-3.tgz
docs/shinylive/webr/packages/metadata.rds
docs/shinylive/webr/packages/mgcv/mgcv_1.9-3.tgz
docs/shinylive/webr/packages/modelr/modelr_0.1.11.tgz
docs/shinylive/webr/packages/nlme/nlme_3.1-168.tgz
docs/shinylive/webr/packages/openssl/openssl_2.3.3.tgz
docs/shinylive/webr/packages/packrat/packrat_0.9.3.tgz
docs/shinylive/webr/packages/pillar/pillar_1.11.0.tgz
docs/shinylive/webr/packages/pkgconfig/pkgconfig_2.0.3.tgz
docs/shinylive/webr/packages/PKI/PKI_0.1-15.tgz
docs/shinylive/webr/packages/png/png_0.1-8.tgz
docs/shinylive/webr/packages/processx/processx_3.8.6.tgz
docs/shinylive/webr/packages/ps/ps_1.9.1.tgz
docs/shinylive/webr/packages/purrr/purrr_1.1.0.tgz
docs/shinylive/webr/packages/ragg/ragg_1.4.0.tgz
docs/shinylive/webr/packages/RColorBrewer/RColorBrewer_1.1-3.tgz
docs/shinylive/webr/packages/RcppTOML/RcppTOML_0.2.3.tgz
docs/shinylive/webr/packages/readr/readr_2.1.5.tgz
docs/shinylive/webr/packages/readxl/readxl_1.4.5.tgz
docs/shinylive/webr/packages/rematch/rematch_2.0.0.tgz
docs/shinylive/webr/packages/rematch2/rematch2_2.1.2.tgz
docs/shinylive/webr/packages/reprex/reprex_2.1.1.tgz
docs/shinylive/webr/packages/rmarkdown/rmarkdown_2.29.tgz
docs/shinylive/webr/packages/rsconnect/rsconnect_1.5.0.tgz
docs/shinylive/webr/packages/rstudioapi/rstudioapi_0.17.1.tgz
docs/shinylive/webr/packages/rvest/rvest_1.0.4.tgz
docs/shinylive/webr/packages/scales/scales_1.4.0.tgz
docs/shinylive/webr/packages/selectr/selectr_0.4-2.tgz
docs/shinylive/webr/packages/snowflakeauth/snowflakeauth_0.1.2.tgz
docs/shinylive/webr/packages/stringi/stringi_1.8.7.tgz
docs/shinylive/webr/packages/stringr/stringr_1.5.1.tgz
docs/shinylive/webr/packages/sys/sys_3.4.3.tgz
docs/shinylive/webr/packages/systemfonts/systemfonts_1.2.3.tgz
docs/shinylive/webr/packages/textshaping/textshaping_1.0.1.tgz
docs/shinylive/webr/packages/tibble/tibble_3.3.0.tgz
docs/shinylive/webr/packages/tidyr/tidyr_1.3.1.tgz
docs/shinylive/webr/packages/tidyselect/tidyselect_1.2.1.tgz
docs/shinylive/webr/packages/tidyverse/tidyverse_2.0.0.tgz
docs/shinylive/webr/packages/timechange/timechange_0.3.0.tgz
docs/shinylive/webr/packages/tinytex/tinytex_0.57.tgz
docs/shinylive/webr/packages/tzdb/tzdb_0.5.0.tgz
docs/shinylive/webr/packages/utf8/utf8_1.2.6.tgz
docs/shinylive/webr/packages/uuid/uuid_1.2-1.tgz
docs/shinylive/webr/packages/vctrs/vctrs_0.6.5.tgz
docs/shinylive/webr/packages/viridisLite/viridisLite_0.4.2.tgz
docs/shinylive/webr/packages/vroom/vroom_1.6.5.9000.tgz
docs/shinylive/webr/packages/xfun/xfun_0.53.tgz
docs/shinylive/webr/packages/xml2/xml2_1.3.6.tgz
docs/shinylive/webr/packages/yaml/yaml_2.3.10.tgz
docs/shinylive/webr/R.js
docs/shinylive/webr/R.js.bak
docs/shinylive/webr/R.wasm
docs/shinylive/webr/repl/App.d.ts
docs/shinylive/webr/repl/components/Editor.d.ts
docs/shinylive/webr/repl/components/Files.d.ts
docs/shinylive/webr/repl/components/Plot.d.ts
docs/shinylive/webr/repl/components/Share.d.ts
docs/shinylive/webr/repl/components/Terminal.d.ts
docs/shinylive/webr/repl/components/utils.d.ts
docs/shinylive/webr/tests/packages/webr.test.d.ts
docs/shinylive/webr/tests/webR/chan/channel-postmessage.test.d.ts
docs/shinylive/webr/tests/webR/chan/websocket.test.d.ts
docs/shinylive/webr/tests/webR/console.test.d.ts
docs/shinylive/webr/tests/webR/error.test.d.ts
docs/shinylive/webr/tests/webR/mount.test.d.ts
docs/shinylive/webr/tests/webR/proxy.test.d.ts
docs/shinylive/webr/tests/webR/robj.test.d.ts
docs/shinylive/webr/tests/webR/utils.test.d.ts
docs/shinylive/webr/tests/webR/webr-main.test.d.ts
docs/shinylive/webr/tests/webR/webr-r.test.d.ts
docs/shinylive/webr/tests/webR/webr-worker.test.d.ts
docs/shinylive/webr/vfs/etc/fonts/fonts.conf
docs/shinylive/webr/vfs/etc/ssl/cert.pem
docs/shinylive/webr/vfs/usr/lib/R/doc.data.gz
docs/shinylive/webr/vfs/usr/lib/R/doc.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/base/demo.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/base/demo.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/base/help.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/base/help.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/base/html.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/base/html.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/compiler/help.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/compiler/help.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/compiler/html.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/compiler/html.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/datasets/help.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/datasets/help.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/datasets/html.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/datasets/html.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/graphics/demo.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/graphics/demo.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/graphics/help.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/graphics/help.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/graphics/html.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/graphics/html.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/afm.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/afm.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/demo.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/demo.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/enc.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/enc.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/fonts.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/fonts.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/help.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/help.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/html.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/html.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/libs.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/grDevices/libs.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/grid/doc.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/grid/doc.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/grid/help.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/grid/help.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/grid/html.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/grid/html.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/methods/help.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/methods/help.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/methods/html.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/methods/html.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/parallel.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/parallel.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/splines/help.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/splines/help.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/splines/html.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/splines/html.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/stats/demo.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/stats/demo.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/stats/doc.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/stats/doc.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/stats/help.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/stats/help.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/stats/html.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/stats/html.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/stats4/help.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/stats4/help.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/stats4/html.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/stats4/html.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/tcltk.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/tcltk.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/tools/help.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/tools/help.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/tools/html.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/tools/html.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/translations.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/translations.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/translations/DESCRIPTION
docs/shinylive/webr/vfs/usr/lib/R/library/utils/doc.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/utils/doc.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/utils/help.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/utils/help.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/utils/html.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/utils/html.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/utils/misc.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/utils/misc.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/webr/help.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/webr/help.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/library/webr/html.data.gz
docs/shinylive/webr/vfs/usr/lib/R/library/webr/html.js.metadata
docs/shinylive/webr/vfs/usr/lib/R/share.data.gz
docs/shinylive/webr/vfs/usr/lib/R/share.js.metadata
docs/shinylive/webr/vfs/usr/share/fonts/NotoSans-Bold.ttf
docs/shinylive/webr/vfs/usr/share/fonts/NotoSans-BoldItalic.ttf
docs/shinylive/webr/vfs/usr/share/fonts/NotoSans-Italic.ttf
docs/shinylive/webr/vfs/usr/share/fonts/NotoSans-Regular.ttf
docs/shinylive/webr/vfs/usr/share/fonts/NotoSansMono-Bold.ttf
docs/shinylive/webr/vfs/usr/share/fonts/NotoSansMono-Regular.ttf
docs/shinylive/webr/vfs/usr/share/fonts/NotoSerif-Bold.ttf
docs/shinylive/webr/vfs/usr/share/fonts/NotoSerif-BoldItalic.ttf
docs/shinylive/webr/vfs/usr/share/fonts/NotoSerif-Italic.ttf
docs/shinylive/webr/vfs/usr/share/fonts/NotoSerif-Regular.ttf
docs/shinylive/webr/vfs/usr/share/gdal.data.gz
docs/shinylive/webr/vfs/usr/share/gdal.js.metadata
docs/shinylive/webr/vfs/usr/share/proj.data.gz
docs/shinylive/webr/vfs/usr/share/proj.js.metadata
docs/shinylive/webr/vfs/usr/share/udunits.data.gz
docs/shinylive/webr/vfs/usr/share/udunits.js.metadata
docs/shinylive/webr/vfs/var/cache/fontconfig/3830d5c3ddfd5cd38a049b759396e72e-le32d8.cache-9
docs/shinylive/webr/vfs/var/cache/fontconfig/CACHEDIR.TAG
docs/shinylive/webr/webr-worker.js
docs/shinylive/webr/webr-worker.js.map
docs/shinylive/webr/webr.cjs
docs/shinylive/webr/webr.cjs.map
docs/shinylive/webr/webr.mjs
docs/shinylive/webr/webr.mjs.map
docs/shinylive/webr/webR/chan/channel-common.d.ts
docs/shinylive/webr/webR/chan/channel-postmessage.d.ts
docs/shinylive/webr/webR/chan/channel-shared.d.ts
docs/shinylive/webr/webR/chan/channel.d.ts
docs/shinylive/webr/webR/chan/message.d.ts
docs/shinylive/webr/webR/chan/queue.d.ts
docs/shinylive/webr/webR/chan/task-common.d.ts
docs/shinylive/webr/webR/chan/task-main.d.ts
docs/shinylive/webr/webR/chan/task-worker.d.ts
docs/shinylive/webr/webR/chan/websocket.d.ts
docs/shinylive/webr/webR/compat.d.ts
docs/shinylive/webr/webR/config.d.ts
docs/shinylive/webr/webR/console.d.ts
docs/shinylive/webr/webR/emscripten.d.ts
docs/shinylive/webr/webR/error.d.ts
docs/shinylive/webr/webR/mount.d.ts
docs/shinylive/webr/webR/payload.d.ts
docs/shinylive/webr/webR/proxy.d.ts
docs/shinylive/webr/webR/robj-main.d.ts
docs/shinylive/webr/webR/robj-worker.d.ts
docs/shinylive/webr/webR/robj.d.ts
docs/shinylive/webr/webR/utils-r.d.ts
docs/shinylive/webr/webR/utils.d.ts
docs/shinylive/webr/webR/webr-chan.d.ts
docs/shinylive/webr/webR/webr-main.d.ts
docs/shinylive/webr/webR/webr-worker.d.ts
